<%
  var calendar = ['date-5-8', 'date-7-8', 'date-10-9']
  var icon = _.template(require('../components/icon.html').default)
  var picture = _.template(require('../components/picture.html').default)
  var loader = _.template(require('../components/loader.html').default)({icon: icon({id: 'loader'})})
%>

<dialog class="dialog dialog-md dark:bg-black dark:text-white rounded-3 py-10 px-5">
  <div class="filtering flex flex-wrap items-center justify-between gap-5" data-filter>
    <div class="w-full md:w-auto" id="calendar"></div>
    <div class="w-full md:w-1/2">
      <% for (var i = 0; i < calendar.length; i++) { %>
      <div class="filtering__card pack pack-rect-md bg-gray rounded-4 w-full" data-filter-card="<%= calendar[i] %>">
        <%= loader %>
        <%= picture({src: 'img/pictures/town-grey', format: '.jpg', webp: true, classes: 'image image-rise', data: false, loading: 'lazy'}) %>
      </div>
      <% } %>
    </div>
  </div>
</dialog>