<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="//STDKIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>

<body>

  <!-- Прелоадер -->

  <div class="flex flex-col items-center justify-center fixed z-10 inset-0 bg-white duration-5" data-preloader>
    <%= preloader %>
  </div>

  <!-- Шапка документа -->

  <header class="container flex items-center justify-between gap-3 sticky z-3 top-0 left-0 right-0 bg-white py-2 sm:py-3 duration-3" data-header>
    <a class="btn btn-white w-44 sm:w-52" data-waved="dark" href="/">
      <%= picture({src: 'img/pictures/logo-text-black', format: '.png', webp: true, classes: 'w-full', data: false, loading: 'auto'}) %>
    </a>
    <div class="hidden lg:flex items-center">
      <div class="flex items-center justify-center bg-second gradient text-white text-18 rounded-2 w-8 h-8 mr-4">
        <%= icon({id: 'geo'}) %>
      </div>
      <div class="flex flex-col">
        <span class="font-semibold text-18 leading-2">г. Краснодар</span>
        <span class="font-normal text-18 leading-2 opacity-60">ул. Инертно-Песочная, 11</span>
      </div>
    </div>
    <div class="flex items-center gap-2">
      <a class="btn btn-green btn-fill rounded-2 text-18 w-8 h-8" data-waved="light" href="" target="_blank">
        <%= icon({id: 'wa'}) %>
      </a>
      <a class="btn btn-white rounded-2 overflow-hidden" data-waved="dark" href="tel: 8 (900) 000-00-00">
        <div class="flex items-center justify-center bg-second gradient text-white text-18 rounded-2 w-8 h-8">
          <%= icon({id: 'phone'}) %>
        </div>
        <span class="hidden sm:inline-block font-semibold text-black text-18 ml-2">8 (900) 000-00-00</span>
      </a>
    </div>
  </header>