  <!-- Плеер -->

  <% var compositions = [
    {
      artist: 'Slipknot',
      song: 'Snuff'
    },
    {
      artist: 'System of a down',
      song: 'Lonely Day'
    },
    {
      artist: 'Scorpions',
      song: 'Slave Me'
    }
  ] %>

  <section class="player container container--xs bg-grey dark:bg-dark" data-player id="player">
    <dialog id="playlist">
      <div class="dialog dialog-xs rounded-3 p-5 md:p-10 dark:bg-black dark:text-white">
        <h4 class="font-alt font-bold text-center text-30 mb-6">Playlist</h4>
        <div class="flex flex-col gap-4">
          <% for (var i = 0; i < compositions.length; i++) { %>
          <div class="flex items-center gap-2">
            <button class="btn btn-primary btn-fade text-36 rounded-max min-w-[40px] w-[40px] h-[40px]" data-player-composition="<%= i %>" data-waved="dark">
              <svg class="player__loading icon hidden" data-player-loading>
                <use xlink:href="img/icons.svg#loading">
              </svg>
              <svg class="icon" data-player-status>
                <use xlink:href="img/icons.svg#play">
              </svg>
            </button>
            <div class="flex flex-col">
              <span class="font-semibold text-20"><%= compositions[i].artist %></span>
              <span class="text-16 opacity-70"><%= compositions[i].song %></span>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </dialog>
    <div class="flex flex-col items-center justify-center bg-white shadow-md rounded-6 w-full max-w-[500px] mx-auto py-6 px-2 md:px-6 dark:bg-black" data-player-controls>
      <div class="pack pack-box bg-grey rounded-max w-full max-w-[250px] mb-5 md:md-8 dark:bg-dark">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <img class="image" data-player-poster src="" loading="lazy" alt="">
        </picture>
      </div>
      <h3 class="font-alt font-bold text-center text-24 md:text-30 leading-4" data-player-artist></h3>
      <h4 class="font-medium text-center text-16 md:text-24 mb-6" data-player-song></h4>
      <audio class="hidden" data-player-audio src=""></audio>
      <div class="bg-grey rounded-4 w-full py-5 px-3 md:px-5 dark:bg-dark">
        <div class="relative bg-gray rounded-6 pointer-events-auto w-full h-1 mb-3" data-player-progress>
          <div class="player__range absolute top-0 left-0 bottom-0 bg-primary text-primary rounded-6 h-full" data-player-range></div>
        </div>
        <div class="flex items-center justify-between gap-4">
          <button class="btn btn-primary btn-fade text-24 rounded-1 p-1" data-waved="dark" data-fancybox-dialog data-src="#playlist">
            <svg class="icon">
              <use xlink:href="img/icons.svg#burger">
            </svg>
          </button>
          <span class="hidden md:block text-18 w-[50px]" data-player-start></span>
          <button class="btn btn-primary btn-fade text-20 rounded-max min-w-[40px] w-[40px] h-[40px]" data-player-prev data-waved="dark">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-prev">
            </svg>
          </button>
          <button class="btn btn-primary btn-fade text-36 rounded-max min-w-[40px] w-[40px] h-[40px]" data-player-play data-waved="dark">
            <svg class="player__loading icon hidden" data-player-loading>
              <use xlink:href="img/icons.svg#loading">
            </svg>
            <svg class="icon" data-player-status>
              <use xlink:href="img/icons.svg#play">
            </svg>
          </button>
          <button class="btn btn-primary btn-fade text-20 rounded-max min-w-[40px] w-[40px] h-[40px]" data-player-next data-waved="dark">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-next">
            </svg>
          </button>
          <span class="hidden md:block text-18 w-[50px]" data-player-end></span>
          <button class="btn btn-primary btn-fade rounded-max p-2" data-player-volume="on" data-waved="dark">
            <svg class="icon">
              <use xlink:href="img/icons.svg#volume-on">
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>