// Базовые стили
:root {
  --font-alt : "Circe", Arial, sans-serif;
  --font-base: "SF Pro Display", Helvetica, sans-serif;
  --xs       : calc(theme(screens.xs) - 29.98px);
  --sm       : calc(theme(screens.sm) - 35.98px);
  --md       : calc(theme(screens.md) - 47.98px);
  --lg       : calc(theme(screens.lg) - 51.98px);
  --xl       : calc(theme(screens.xl) - 79.98px);
}

* {

  &,
  &::before,
  &::after {
    -webkit-tap-highlight-color: transparent;

    @apply box-border m-0 p-0;
  }
}

html {
  font-size: 16px;
}

body {
  @apply bg-white font-base text-black;
}

::selection {
  @apply text-white bg-primary;
}

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
p:empty {
  @apply hidden;
}

ul {
  @apply list-none list-outside;
}

ol {
  @apply list-decimal list-inside;
}

picture {
  @apply static;
}

img {
  @apply select-none;

  &:is([src=""], [src="/"]) {
    @apply hidden;
  }
}

dialog {
  @apply static border-none w-auto h-auto;
}

address {
  @apply not-italic;
}

q {
  quotes: "\201c""\201E";
}

a,
button,
input,
textarea,
select {
  @apply outline-0;
}

textarea {
  @apply overflow-auto resize-none;
}

select {
  @apply appearance-none;
}