// Кнопка с рамкой
.btn {

  &-rect,
  &-frame,
  &-lines {
    border-radius: 0;

    &::before,
    &::after {
      content      : "";
      position     : absolute;
      border       : 2px solid transparent;
      border-radius: inherit;
      transition   : 0.5s ease;
    }
  }

  &-rect {

    &::before,
    &::after {
      width : 20px;
      height: 20px;
    }

    &::before {
      top : 0;
      left: 0;

      border: {
        top-color : currentColor;
        left-color: currentColor;
      }
    }

    &::after {
      bottom: 0;
      right : 0;

      border: {
        bottom-color: currentColor;
        right-color : currentColor;
      }
    }
  }

  &-frame {

    &::before,
    &::after {
      width : 40px;
      height: 20px;
    }

    &::before {
      top  : 0;
      right: 0;

      border: {
        top-color  : currentColor;
        right-color: currentColor;
      }
    }

    &::after {
      bottom: 0;
      left  : 0;

      border: {
        bottom-color: currentColor;
        left-color  : currentColor;
      }
    }
  }

  &-lines {

    &::before,
    &::after {
      top             : 100%;
      left            : 0;
      right           : 0;
      width           : 80%;
      height          : 2px;
      margin-inline   : auto;
      border          : none;
      background-color: currentColor;
    }
  }

  @media(hover) {
    &-rect:hover {

      &::before,
      &::after {
        width : calc(100% + 10px);
        height: calc(100% + 10px);
      }
    }

    &-frame:hover {

      &::before,
      &::after {
        width       : calc(100% + 5px);
        height      : calc(100% + 5px);
        border-color: currentColor;
      }
    }

    &-lines:hover {
      &::before {
        top  : 0;
        width: 100%;
      }

      &::after {
        width: 100%;
      }
    }
  }
}