// Кнопка
.btn {
  & * {
    pointer-events: none
  }

  @apply text-16;
  --btn-color    : theme("colors.black.DEFAULT");
  --btn-accent   : theme("colors.white.DEFAULT");
  color          : var(--btn-color);
  font-weight    : 600;
  display        : flex;
  align-items    : center;
  justify-content: center;
  position       : relative;
  user-select    : none;
  transition     : 0.2s ease;
  cursor         : pointer;

  @include getBtn("primary", #af1a4c);
  @include getBtn("second", #d7a751);
  @include getBtn("gray", #b2b2b2);

  &--lg {
    --size: var(--size-lg);
    height: var(--size);
  }

  &--sm {
    --size: var(--size-sm);
    height: var(--size);
  }

  &--lg,
  &--sm {
    border-radius : 6px;
    padding-inline: calc(var(--size) / 2);
  }

  &--fill {
    color           : var(--btn-accent);
    background-color: var(--btn-color);
  }

  &--fade {
    color           : var(--btn-color);
    background-color: var(--btn-fade);
  }

  &--light {
    color           : var(--btn-color);
    background-color: var(--btn-accent);
    border          : 2px solid var(--color-none);
  }

  &--contur {
    border: 2px solid var(--btn-color);
  }

  &:focus {
    box-shadow      : 0 0 0 4px var(--btn-focus);
    background-color: var(--btn-fade);
  }

  &--fill:focus {
    background-color: var(--btn-dark);
  }

  &--fade:focus {
    color           : var(--btn-accent);
    background-color: var(--btn-color);
  }

  &--light:focus {
    background-color: var(--btn-accent);
    border-color    : var(--btn-color);
  }

  &:active {
    box-shadow: inset 0 4px 4px theme("colors.black.DEFAULT / 30%");
    transform : translateY(4px);
  }

  &:disabled {
    pointer-events: none;
    opacity       : 0.5;
  }

  @media(hover) {
    &:hover {
      background-color: var(--btn-fade);
    }

    &--fill:hover {
      background-color: var(--btn-dark);
    }

    &--fade:hover {
      color           : var(--btn-accent);
      background-color: var(--btn-color);
    }

    &--light:hover {
      background-color: var(--btn-accent);
      border-color    : var(--btn-color);
    }
  }
}

@import "./button-swipe";
@import "./button-glow";
@import "./button-bubles";
@import "./button-border";