// Карточка
.card {
  display         : flex;
  flex-direction  : column;
  position        : relative;
  background-color: theme("colors.white.DEFAULT");
  box-shadow      : 8px 8px 4px theme("colors.black.DEFAULT / 20%");
  border-radius   : 16px;
  transition      : box-shadow 0.2s ease, transform 0.2s ease;
  overflow        : hidden;

  &-content {
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
  }

  &--active:active {
    transform: translateY(4px);
  }

  @media(hover) {
    &--active:hover {
      box-shadow: 8px 8px 4px theme("colors.black.DEFAULT / 50%");
    }
  }
}