// Fancybox
$close: ".carousel__button.is-close";

.fancybox {
  &__spinner {
    width : auto;
    height: auto;
  }

  &__container * {

    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  &__content {
    max-width : 100%;
    padding   : 0;
    background: none;

    & :focus:not(#{$close}) {
      outline: none;
    }

    &>#{$close} {
      position        : fixed;
      top             : 8px;
      right           : 8px;
      background-color: theme("colors.white.DEFAULT");
      box-shadow      : 0 4px 8px theme("colors.black.DEFAULT / 10%");
      color           : theme("colors.black.DEFAULT");

      @screen md {
        & {
          position: absolute;
        }
      }

    }
  }
}

// Slider-swiper
.swiper {
  &-pagination {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : static;

    &-bullet {
      width           : 12px;
      height          : 12px;
      background-color: currentColor;
      transition      : background-color 0.2s ease;
    }
  }

  &-button {

    &-prev,
    &-next {
      &::after {
        display: none;
      }
    }
  }

  &--overwrap {
    margin : -15px;
    padding: 15px;
  }
}

// Air-datepicker
.air-datepicker-global-container {
  z-index: 1100;
}