// Fancybox
$close: ".carousel__button.is-close";

.fancybox {
  &__spinner {
    @apply w-auto h-auto;
  }

  &__container * {

    &,
    &::before,
    &::after {
      @apply box-border;
    }
  }

  &__content {
    @apply bg-transparent bg-none max-w-full p-0;

    & :focus:not(#{$close}) {
      @apply outline-0;
    }

    &>#{$close} {
      @apply fixed top-2 right-2 bg-white text-black shadow-md;

      @screen md {
        @apply absolute;
      }
    }
  }
}

// Slider-swiper
.swiper {
  &-pagination-bullet {
    @apply bg-current w-3 h-3 duration-2;
  }

  &-button {

    &-prev,
    &-next {
      &::after {
        @apply hidden;
      }
    }
  }
}

// Air-datepicker
.air-datepicker-global-container {
  @apply z-[1100];
}