// Лайк
.like {
  cursor: pointer;

  &-heart {
    @apply text-2xl;
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 40px;
    height          : 40px;
    background-color: theme("colors.white.DEFAULT / 40%");
    border-radius   : 50%;
    transition      : 0.2s linear;
  }

  &-icon {
    fill      : theme("colors.red.DEFAULT / 50%");
    stroke    : theme("colors.red.DEFAULT");
    transition: 0.2s linear;
  }

  &-toggle:checked+&-heart>&-icon {
    fill: theme("colors.red.DEFAULT");
  }
}