// Загрузчик
.loader {
  @apply flex items-center justify-center absolute inset-0 pointer-events-none;

  &-progress {
    animation: progress 1.8s linear infinite;

    @apply text-40 text-primary;
  }

  &-icon {
    animation: loader 1.5s ease-in-out infinite;
  }
}

// Загрузка
.preloader {

  &::before,
  &::after {
    content         : "";
    background-color: transparent;

    @apply absolute inset-0;

    border: {
      width : 12px;
      color : inherit;
      style : solid;
      radius: inherit;
    }
  }

  &::before {
    animation: progress 1s linear infinite;

    border: {
      left-color : transparent;
      right-color: transparent;
    }
  }

  &::after {
    animation: progress 1.2s linear infinite;

    border: {
      top-color   : transparent;
      bottom-color: transparent;
    }
  }

  @apply flex items-center justify-center relative text-primary rounded-max w-[100px] h-[100px];

  &-circle {
    background-color: currentColor;
    border-radius   : inherit;
    animation       : preloader 1.2s linear infinite;

    @apply w-10 h-10;
  }
}

@keyframes progress {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    stroke: {
      dasharray : 1px, 200px;
      dashoffset: 0;
    }
  }

  50% {
    stroke: {
      dasharray : 100px, 200px;
      dashoffset: -15px;
    }
  }

  100% {
    stroke: {
      dasharray : 100px, 200px;
      dashoffset: -125px;
    }
  }
}

@keyframes preloader {

  0%,
  100% {
    transform: scale(0.4);

    @apply opacity-20;
  }

  50% {
    transform: scale(1);

    @apply opacity-100;
  }
}