// Движение
.movement {
  &[data-movement="light"] {
    &::after {
      background-image: radial-gradient(circle closest-side, theme("colors.white.DEFAULT"), transparent);
      opacity         : 0.3;
    }

    @media(hover) {
      &:hover::after {
        width : 250px;
        height: 250px;
      }
    }
  }

  &[data-movement="blend"] {
    position: relative;

    &::after {
      background-color: theme("colors.white.DEFAULT");
      border-radius   : 50%;
      mix-blend-mode  : difference;
    }

    @media(hover) {
      &:hover::after {
        width : 70px;
        height: 70px;
      }
    }
  }

  &::after {
    content       : "";
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 0;
    height        : 0;
    transform     : translate(-50%, -50%) translate(var(--x), var(--y));
    transition    : width 0.3s ease, height 0.3s ease;
    z-index       : 1;
    pointer-events: none;
  }
}