// Открытка
.postcards {
  perspective: 600px;

  &-item {
    width             : 150px;
    height            : 150px;
    transform         : rotateX(40deg);
    transform-style   : preserve-3d;
    perspective-origin: center center;

    @media(hover) {
      &:hover {
        transform: translateZ(100px) rotateX(20deg);
        z-index  : 1;

        &:hover .postcards-particle {
          filter: grayscale(0);

          &--2,
          &--4,
          &--7,
          &--9 {
            transform: rotateY(0);
          }

          &--3,
          &--5,
          &--6,
          &--8 {
            transform: rotateX(0);
          }

          &--2,
          &--3,
          &--4,
          &--5 {
            transition-delay: 0s;
          }

          &--6,
          &--7,
          &--8,
          &--9 {
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  &-particle {
    backface-visibility: hidden;
    transition         : transform 0.3s, filter 1s;
    filter             : grayscale(0.9);

    background: {
      repeat: no-repeat;
      size  : 300% 300%;
    }

    &--1 {
      background-position: center center;
    }

    &--2 {
      top                : 0;
      left               : 100%;
      background-position: center right;
      transform          : rotateY(180deg);
      transform-origin   : center left;
      transition-delay   : 0.03s;
    }

    &--3 {
      top                : 100%;
      left               : 0;
      background-position: center bottom;
      transform          : rotateX(-180deg);
      transform-origin   : center top;
      transition-delay   : 0.03s;
    }

    &--4 {
      top                : 0;
      left               : -100%;
      background-position: center left;
      transform          : rotateY(-180deg);
      transform-origin   : center right;
      transition-delay   : 0.03s;
    }

    &--5 {
      top                : -100%;
      left               : 0;
      background-position: center top;
      transform          : rotateX(180deg);
      transform-origin   : center bottom;
      transition-delay   : 0.03s;
    }

    &--6 {
      top                : 100%;
      left               : 100%;
      background-position: right bottom;
      transform          : rotateX(-180deg);
      transform-origin   : center top;
      transition-delay   : 0s;
    }

    &--7 {
      top                : 100%;
      left               : -100%;
      background-position: left bottom;
      transform          : rotateY(180deg);
      transform-origin   : center right;
      transition-delay   : 0s;
    }

    &--8 {
      top                : -100%;
      left               : -100%;
      background-position: left top;
      transform          : rotateX(180deg);
      transform-origin   : center bottom;
      transition-delay   : 0s;
    }

    &--9 {
      top                : -100%;
      left               : 100%;
      background-position: right top;
      transform          : rotateX(180deg);
      transform-origin   : center left;
      transition-delay   : 0s;
    }
  }
}