// Поле количества
.quantity {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  width          : 110px;
  border         : 1px solid theme("colors.gray.DEFAULT");
  border-radius  : 40px;
  padding        : 5px;

  &-btn {
    min-width    : 32px;
    width        : 32px;
    height       : 32px;
    border-radius: 50%;
  }

  &-cover {
    max-width: 24px;
  }

  &-input {
    height          : auto;
    text-align      : center;
    border          : none;
    border-radius   : 0;
    padding         : 0;
    background-color: var(--color-none);
  }
}