// Бегунок
@mixin range {
  width     : var(--bubble-size);
  height    : var(--bubble-size);
  background: none;
  border    : none;

  @apply cursor-ew-resize pointer-events-auto appearance-none;
}

.range {
  --bubble-size: 28px;

  &-cover {
    @apply max-w-[60px];
  }

  &-wrapper {

    &:nth-child(2) {
      @apply -mt-2;
    }

    @apply relative rounded-1 h-2;
  }

  &-input {
    border-radius: inherit;

    @apply block appearance-none w-full h-full;

    &::-webkit-slider-thumb {
      @include range();
    }

    &::-moz-range-thumb {
      @include range();
    }

    &::-ms-thumb {
      @include range();
    }
  }

  &-progress {
    position      : absolute;
    top           : 0;
    bottom        : 0;
    height        : 100%;
    border-radius : inherit;
    z-index       : 1;
    pointer-events: none;
  }

  &-bubble {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    top            : 0;
    bottom         : 0;
    width          : var(--bubble-size);
    height         : var(--bubble-size);
    border         : 2px solid theme("colors.grey.DEFAULT");
    border-radius  : 50%;
    box-shadow     : 0 0 0 2px theme("colors.primary.DEFAULT / 40%");
    z-index        : 2;
    pointer-events : none;
    margin-block   : auto;

    @apply text-12;
  }
}