// Обнуление
* {

  &,
  &::before,
  &::after {
    box-sizing                 : border-box;
    margin                     : 0;
    padding                    : 0;
    -webkit-tap-highlight-color: transparent;
  }
}

html {
  font-size: 16px;
}

body {
  @apply font-base text-black bg-white;
}

::selection {
  @apply text-white bg-primary;
}

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
p:empty {
  display: none;
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal inside;
}

picture {
  position: static !important;
}

img {
  user-select: none;

  &:is([src=""], [src="/"]) {
    display: none;
  }
}

dialog {
  position: static;
  width   : auto;
  height  : auto;
  border  : none;
}

address {
  font-style: normal;
}

q {
  quotes: "\201c""\201E";
}

button,
input,
textarea,
select {
  background-color: transparent;
  border          : none;
  outline         : none;

  @apply text-black;

  &:-webkit-autofill {

    &,
    &:hover,
    &:focus {
      border                 : 1px solid theme("colors.gray.DEFAULT");
      box-shadow             : inset 0 0 0 1000px theme("colors.white.DEFAULT");
      transition             : background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: theme("colors.black.DEFAULT");
    }
  }
}

textarea {
  overflow: auto;
  resize  : none;
}

select {
  appearance: none;
}