// Обнуление
* {

  &,
  &::before,
  &::after {
    -webkit-tap-highlight-color: transparent;

    @apply box-border m-0 p-0;
  }
}

html {
  @apply text-[16px];
}

body {
  @apply bg-white font-base text-black;
}

::selection {
  @apply text-white bg-primary;
}

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
p:empty {
  @apply hidden;
}

ul {
  @apply list-none list-outside;
}

ol {
  @apply list-decimal list-inside;
}

picture {
  @apply static;
}

img {
  @apply select-none;

  &:is([src=""], [src="/"]) {
    @apply hidden;
  }
}

dialog {
  @apply static border-none w-auto h-auto;
}

address {
  @apply not-italic;
}

q {
  quotes: "\201c""\201E";
}

button,
input,
textarea,
select {
  @apply bg-transparent outline-0;
}

textarea {
  @apply overflow-auto resize-none;
}

select {
  @apply appearance-none;
}