* {
  scrollbar: {
    width: thin;
    color: theme("colors.grey.DEFAULT") theme("colors.primary.DEFAULT");
  }
}

::-webkit-scrollbar {
  @media(pointer: fine) {
    @apply w-4;

    &-track {
      @apply bg-primary;

      &-piece {
        @apply my-2;
      }
    }

    &-thumb {

      &:active {
        box-shadow: inset 0 8px 8px theme("colors.black.DEFAULT / 50%");
      }

      @apply bg-grey rounded-2 border-4 border-solid border-primary;
    }

    &-corner {
      @apply bg-primary;
    }
  }
}