// Шапка документа
.header {
  transform: translateY(var(--top));
}

// Навигация
.nav {
  &__accordion[data-accordion="active"] &__arrow {
    transform: rotate(90deg);
  }

  &__accordion[data-accordion="active"] &__items {
    @apply top-10;
  }
}

// Меню
.menu {
  &[data-sidebar="close"] {
    @apply invisible opacity-0;
  }

  &[data-sidebar="close"] &__content {
    transform: translateX(-100%);

    @apply invisible opacity-0;
  }

  &[data-sidebar="close"] &__head {
    transform: translateY(-80px);
  }

  &[data-sidebar="close"] &__nav {
    transform: translateX(-220px);

    @apply invisible opacity-0;
  }

  &[data-sidebar="close"] &__footer {
    transform: translateY(-50px);

    @apply invisible opacity-0;
  }

  &[data-sidebar="open"] {
    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__content {
    transform: translateX(0);

    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__head {
    transform: translateY(0);
  }

  &[data-sidebar="open"] &__nav {
    transform: translateX(0);

    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__footer {
    transform: translateY(0);

    @apply visible opacity-100;
  }

  &__content {
    box-shadow: 0 0 0 100vw theme("colors.black.DEFAULT / 50%");
  }

  &__accordion[data-accordion="active"] &__arrow {
    transform: rotate(90deg);
  }
}

// Перетаскиваемое социальное меню
.social {
  left: calc(100vw - 150px);

  &__round {

    &[data-social-round="show"] {
      transform: scale(1) rotate(0);
    }

    &[data-social-round="hidden"] {
      transform: scale(0) rotate(-180deg);
    }
  }

  &__btn {
    &::before {
      @apply content-auto block bg-current rounded-inherit w-full h-full;
    }
  }
}

// Переключатель темы
.theme {
  left: calc(100vw - 240px);
}

// Снежинки
.snowflake {
  background-image: url("../img/pictures/snow.png");
  animation       : snowflake 3s linear both 1;

  @apply absolute bg-no-repeat bg-center bg-contain;
}

@keyframes snowflake {
  0% {
    transform: translate(-50%, 0);
    filter   : hue-rotate(0deg);

    @apply opacity-100;
  }

  100% {
    transform: translate(-50%, 1000%);
    filter   : hue-rotate(500deg);

    @apply opacity-0;
  }
}

// Корзина
.basket {
  &:not([data-basket="show"]) {
    transform: translateY(-40%);
  }
}

// В корзину
.in-basket {
  animation: in-basket 2s ease both;
}

@keyframes in-basket {
  100% {
    @apply -top-24 left-full;
  }
}

// Документы
.documents {
  &__accordion[data-accordion="active"] &__arrow {
    transform: rotate(90deg);
  }
}

// Фильтер
.filtering {
  &__category.filter-active {
    @apply text-white bg-second;

    @screen md {
      @apply font-bold bg-opacity-0;
    }
  }

  &__card.filter-show {
    animation: filtering-show 0.3s ease both 1;
  }
}

@keyframes filtering-show {
  0% {
    transform: translateY(50px);

    @apply opacity-0;
  }

  100% {
    transform: translateY(0);

    @apply opacity-100;
  }
}

// Плеер
.player {
  &__loading {
    animation: loading-player 1s steps(8) infinite;
  }

  &__range {
    &::after {
      @apply content-auto absolute top-0 bottom-0 -right-1 bg-current rounded-max w-3 h-3 my-auto;
    }
  }
}

@keyframes loading-player {
  100% {
    transform: rotateZ(360deg);
  }
}

// Продукция
.product {
  @media(hover) {
    &:hover &__heart {
      @apply visible opacity-100;
    }

    @screen md {
      &__heart {
        @apply invisible opacity-0;
      }

      &__toggle:checked+&__heart {
        @apply visible opacity-100;
      }
    }
  }
}

// Горизорнтальный скролл
.scrolling {
  @screen md {
    height: var(--scroll-height);
  }

  &__image {
    @screen md {
      width    : 130%;
      height   : 130%;
      transform: translate3d(var(--scroll-moving), 0, 0);
    }
  }
}

// Квиз
.quiz {
  &-slider {
    &[data-quiz="stop"] .swiper-button-next {
      @apply opacity-50 pointer-events-none;
    }

    &[data-quiz-end] &-bottom {
      @apply invisible opacity-0;
    }
  }
}

// Время
.timer {
  &__stopwatch {
    &::after {
      @apply content-auto block relative -top-2 bg-current rounded-max w-4 h-4;
    }
  }
}