<%
  var data = {
    title: 'ООО «Корпорация Юг-Снаб»',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon: icon({id: 'loader'})})
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, preloader, icon, picture}) %>

<!-- Главный блок -->

<main class="container relative overflow-hidden py-20 lg:py-36">
  <div class="absolute inset-0">
    <div class="pack bg-grey h-full">
      <%= loader %>
      <%= picture({src: 'img/pictures/main-bg', format: '.jpg', webp: true, classes: 'image', data: false, loading: 'lazy'}) %>
    </div>
  </div>
  <div class="xl:flex xl:justify-between xl:gap-10 relative text-white">
    <%= picture({src: 'img/pictures/logo-text-white', format: '.png', webp: true, classes: 'hidden xl:block w-full max-w-[540px] mt-10 duration-10 ease-in-out clip-path clip-path-down', data: 'data-anim="hidden"', loading: 'auto'}) %>
    <div class="flex flex-col w-full xl:max-w-[620px]">
      <ul class="flex flex-col gap-6 lg:gap-12 border-b border-solid border-white border-opacity-30 pb-6 lg:pb-12 mb-6 lg:mb-12">
        <li class="flex sm:items-center duration-5 ease-in-out anim anim-left" data-anim="hidden">
          <span class="text-28 sm:text-34 lg:text-46 mt-2 sm:mt-0 mr-4">
            <%= icon({id: 'check'}) %>
          </span>
          <h1 class="font-alt font-medium text-26 sm:text-30 lg:text-40 leading-4">
            Производство и продажа <span class="text-blue">инертных</span> материалов
          </h1>
        </li>
        <li class="flex sm:items-center duration-5 delay-2 lg:delay-4 ease-in-out anim anim-left" data-anim="hidden">
          <span class="text-28 sm:text-34 lg:text-46 mt-2 sm:mt-0 mr-4">
            <%= icon({id: 'check'}) %>
          </span>
          <h1 class="font-alt font-medium text-26 sm:text-30 lg:text-40 leading-4">
            Услуги <span class="text-blue">железнодорожного</span> тупика
          </h1>
        </li>
      </ul>
      <div class="flex flex-col sm:flex-row sm:items-center gap-5 sm:gap-8 duration-5 delay-5 lg:delay-8 ease-in-out anim anim-up" data-anim="hidden">
        <div class="order-2 sm:order-1 flex items-center gap-3">
          <div class="flex items-center justify-center text-22 sm:text-34 rounded-3 border-2 border-solid border-white w-12 sm:w-16 h-12 sm:h-16">
            <%= icon({id: 'car'}) %>
          </div>
          <div class="flex items-center justify-center text-22 sm:text-34 rounded-3 border-2 border-solid border-white w-12 sm:w-16 h-12 sm:h-16">
            <%= icon({id: 'train'}) %>
          </div>
        </div>
        <p class="order-1 sm:order-2 font-alt font-medium text-22 sm:text-26 lg:text-32 leading-4">Доставка авто <br class="hidden sm:block"> и жд транспортом</p>
      </div>
    </div>
  </div>
</main>

<!-- Услуги -->

<section class="services container bg-second text-white overflow-hidden">
  <h2 class="font-alt font-medium text-center text-36 sm:text-42 lg:text-50 leading-3 mb-7 md:mb-10 xl:mb-16 duration-10 ease-in-out clip-path clip-path-down" data-anim="hidden">Наши услуги</h2>
  <div class="services-slider">
    <div class="swiper overflow-visible">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 4; i++) { %>
        <div class="swiper-slide h-auto">
          <div class="card card-active text-black h-full p-2 sm:p-4">
            <div class="pack pack-box bg-grey rounded-4 sm:mb-7">
              <%= loader %>
              <%= picture({src: 'img/pictures/service', format: '.jpg', webp: true, classes: 'image image-rise', data: false, loading: 'lazy'}) %>
            </div>
            <div class="card-content py-4 sm:py-0 px-2 sm:px-2">
              <h3 class="font-alt font-semibold text-18 sm:text-20 leading-4 mb-4">
                Доставка самосвалами грузоподъемностью до 5т, 10т, 25т, 40т
              </h3>
              <p class="font-normal text-14 leading-4 opacity-60 mb-5 sm:mb-7">
                Заказать самосвал для грузовой перевозки щебня, песка и других инертных материалов
              </p>
              <button class="btn btn-primary btn-lg btn-fill sm:w-max mt-auto" data-waved="light">Подробнее</button>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Продукция -->

<section class="container bg-grey">
  <h2 class="font-alt font-medium text-center text-36 sm:text-42 lg:text-50 leading-3 mb-7 md:mb-10 xl:mb-16 duration-10 ease-in-out clip-path clip-path-down" data-anim="hidden">Наша продукция</h2>
  <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 xs:gap-5 lg:gap-7">
    <% for (var i = 0; i < 13; i++) { %>
    <div class="duration-5 ease-in-out anim anim-up" data-anim="hidden">
      <div class="card card-active h-full">
        <div class="pack pack-rect-md bg-grey">
          <%= loader %>
          <%= picture({src: 'img/pictures/production', format: '.jpg', webp: true, classes: 'image', data: false, loading: 'lazy'}) %>
        </div>
        <div class="card-content text-center p-4">
          <h4 class="font-alt font-medium text-20 leading-4 mb-6">Песок строительный</h4>
          <p class="font-alt font-bold text-24 leading-4 mb-8">
            ОТ 1 500 ₽<sub>/тонна</sub>
          </p>
          <button class="btn btn-primary btn-lg btn-fill mt-auto" data-waved="light">Подробнее</button>
        </div>
      </div>
    </div>
    <% } %>
    <div class="col-2 lg:col-3 duration-5 ease-in-out anim anim-up" data-anim="hidden">
      <div class="card h-full p-2">
        <div class="card-content flex-row items-center gap-5 lg:gap-10 h-auto">
          <div class="pack pack-sheet bg-gray rounded-4 w-full max-w-[310px] h-full">
            <%= loader %>
            <%= picture({src: 'img/pictures/document', format: '.png', webp: true, classes: 'image image-scale-down', data: false, loading: 'lazy'}) %>
          </div>
          <div class="flex flex-col w-full max-w-[520px]">
            <h3 class="font-alt font-medium text-22 sm:text-26 lg:text-32 leading-4 border-b border-dashed border-black border-opacity-60 pb-6 lg:pb-8 mb-6 lg:mb-8">Надежность, ответственность и подтвержденное качество</h3>
            <p class="font-normal text-14 sm:text-16 leading-4 opacity-60 mb-5">
              Ответственно подходим к исполнению своих обязанностей.
            </p>
            <p class="font-normal text-14 sm:text-16 leading-4 opacity-60 mb-5">
              Сертификатом качества и независимыми испытаниями в лабораториях подтверждены такие показатели как: прочность на сжатие, морозостойкость.
            </p>
            <p class="font-normal text-14 sm:text-16 opacity-60 leading-4">
              Соответствует требованиям ГОСТ РИСО 9001-2008
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= footer({loader, picture}) %>