<%
  var data = {
    title: 'My library',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon: icon({id: 'loader'})})
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)
  var player = _.template(require('./includes/player.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, loader, preloader, icon, picture}) %>

<!-- Главный блок -->

<main class="container flex flex-col items-center justify-center bg-white dark:bg-black min-h-[500px] xl:min-h-[600px]" id="header">
  <%= picture({src: 'img/pictures/logo', format: '.svg', webp: false, classes: 'block mb-10 duration-10 anim anim-up', data: 'data-anim="hidden"', loading: 'eager'}) %>
  <h1 class="font-alt font-bold text-center text-48 lg:text-6xl leading-2 mb-5 md:mb-10 duration-5 delay-2 anim anim-up" data-anim="hidden" data-movement="blend">Main block</h1>
  <div class="w-full duration-5 delay-4 anim anim-up" data-anim="hidden">
    <a class="btn btn-primary btn-lg btn-fill btn-glow w-full max-w-[200px] mx-auto" data-waved="light" data-scroll="top" href="#content">Show more</a>
  </div>
</main>

<!-- Статьи -->

<% var articles = [
  'Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam repudiandae maxime quia culpa, est voluptatum hic at ipsa error officiis magni dolores molestiae inventore ipsum perferendis reiciendis sunt nesciunt possimus?',
  'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
  'Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam repudiandae maxime quia culpa, est voluptatum hic at ipsa error officiis magni dolores molestiae inventore ipsum perferendis reiciendis sunt nesciunt possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit.',
  'Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam repudiandae maxime quia culpa, est voluptatum hic at ipsa error officiis magni dolores molestiae inventore ipsum perferendis reiciendis sunt nesciunt possimus?',
  'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
  'Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam repudiandae maxime quia culpa, est voluptatum hic at ipsa error officiis magni dolores molestiae inventore ipsum perferendis reiciendis sunt nesciunt possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit.'
] %>

<section class="container container-xs container-distance flex flex-col items-center justify-center bg-grey dark:bg-dark" data-listing="1" id="content">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-3 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Cards</h2>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Construction and effect</h3>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-8 w-full mb-5 md:md-10">
    <% for (var i = 0; i < 3; i++) { %>
    <div class="duration-5 anim anim-up" data-anim="hidden">
      <article class="card dark:bg-black h-full">
        <div class="pack pack-rect-md bg-grey dark:bg-dark" data-movement="light">
          <%= loader %>
          <%= picture({src: 'img/pictures/town', format: '.jpg', webp: true, classes: 'image image-rise', data: false, loading: 'lazy'}) %>
        </div>
        <div class="card-content py-5 px-3 md:px-5">
          <h4 class="font-alt font-semibold text-24 mb-4">Article <%= i %></h4>
          <p class="text-justify text-14 md:text-16 leading-5 mb-5"><%= articles[i] %></p>
          <button class="btn btn-primary btn-lg btn-fill mt-auto" data-waved="light">Button</button>
        </div>
      </article>
    </div>
    <% } %>
  </div>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-8 w-full">
    <% for (var i = 3; i < articles.length; i++) { %>
    <div class="hidden sm:block duration-5 anim anim-up" data-anim="hidden" data-listing-item>
      <article class="inverted h-full">
        <div class="inverted-before card dark:bg-black">
          <div class="pack pack-half bg-grey dark:bg-dark">
            <%= loader %>
            <%= picture({src: 'img/pictures/town-grey', format: '.jpg', webp: true, classes: 'image', data: false, loading: 'lazy'}) %>
          </div>
          <div class="card-content py-5 px-3 md:px-5">
            <h4 class="font-alt font-semibold text-24">Article <%= i %></h4>
          </div>
        </div>
        <div class="inverted-after card dark:bg-black">
          <div class="card-content py-5 px-3 md:px-5">
            <h4 class="font-alt font-semibold text-24 mb-4">Article <%= i %></h4>
            <p class="text-justify text-14 md:text-16 leading-5 mb-5"><%= articles[i] %></p>
            <button class="btn btn-primary btn-lg btn-fill mt-auto" data-waved="light">Button</button>
          </div>
        </div>
      </article>
    </div>
    <% } %>
  </div>
  <div class="w-full duration-5 anim anim-up" data-anim="hidden">
    <button class="btn btn-second btn-lg btn-fade sm:hidden max-w-[200px] w-full mt-5 mx-auto" data-listing-show data-waved="dark">Show more</button>
  </div>
</section>

<!-- Кнопки -->

<% var buttons = ['', 'btn-contur', 'btn-fade', 'btn-contur btn-fade', 'btn-fill', 'btn-light', 'btn-xxl', 'btn-xl', 'btn-lg', 'btn-md', 'btn-sm', 'btn-xs', 'btn-contur btn-swipe', 'btn-fill btn-glow', 'data-waved="light"', 'data-waved="dark"', 'data-bubbles="hidden"', 'btn-rect', 'btn-frame', 'btn-lines'] %>

<section class="container container-xs flex flex-col items-center justify-center bg-white dark:bg-black overflow-hidden">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-3 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Buttons</h2>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Buttons standard</h3>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 w-full mb-5 md:mb-10">
    <% for (var i = 0; i < 6; i++) { %>
    <button class="btn btn-primary btn-lg <%= buttons[i] %>">btn--primary <%= buttons[i] %></button>
    <% } %>
  </div>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10" data-movement="blend">Buttons size</h3>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 w-full mb-5 md:mb-10">
    <% for (var i = 6; i < 12; i++) { %>
    <button class="btn btn-primary <%= buttons[i] %> btn-fill"><%= buttons[i] %></button>
    <% } %>
  </div>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10" data-movement="blend">Buttons effects</h3>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 w-full mb-5 md:mb-10">
    <% for (var i = 12; i < 14; i++) { %>
    <button class="btn btn-primary btn-lg <%= buttons[i] %>"><%= buttons[i] %></button>
    <% } %>
  </div>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10" data-movement="blend">Buttons click</h3>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 w-full mb-5 md:mb-10">
    <% for (var i = 14; i < 17; i++) { %>
    <button class="btn btn-primary btn-lg btn-fill" <%= buttons[i] %>><%= buttons[i] %></button>
    <% } %>
  </div>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10" data-movement="blend">Buttons click</h3>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 w-full">
    <% for (var i = 17; i < buttons.length; i++) { %>
    <button class="btn btn-primary btn-lg <%= buttons[i] %>"><%= buttons[i] %></button>
    <% } %>
  </div>
</section>

<!-- Аккордеон -->

<section class="documents container container-distance flex flex-col items-center justify-center bg-grey dark:bg-dark">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-3 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Accordion</h2>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Drop-down list</h3>
  <div class="flex flex-col gap-5 w-full">
    <% for (var i = 0; i < 3; i++) { %>
    <div class="documents__accordion relative bg-second bg-opacity-10 rounded-4 shadow-md overflow-hidden py-4 md:py-6 px-4 duration-5 anim anim-up" data-anim="hidden" data-accordion="<%= i === 0 ? 'active' : 'hidden' %>" data-accordion-close="click">
      <div class="flex items-center justify-between gap-4">
        <h4 class="font-alt font-semibold text-16 md:text-20">Documents - <%= i + 1 %></h4>
        <button class="btn btn-primary btn-fill text-14 rounded-max w-9 h-9" data-accordion-toggle data-waved="light">
          <span class="documents__arrow text-14 duration-3">
            <%= icon({id: 'arrow-right'}) %>
          </span>
        </button>
      </div>
      <div data-accordion-content>
        <div class="flex flex-col gap-3 pt-4">
          <% for (var j = 0; j < 4; j++) { %>
          <a class="flex items-center gap-4 relative hover:underline underline-offset-4 bg-white dark:bg-black rounded-2 p-3" data-waved="dark" href="javascript: ;">
            <div class="flex items-center justify-center bg-primary bg-opacity-10 text-primary text-24 rounded-2 w-12 min-w-[48px] h-12">
              <%= icon({id: 'file'}) %>
            </div>
            <p class="text-14 md:text-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          </a>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- Фильтер -->

<% var numbers = [
  {
    text: 'text-36',
    value: '36'
  },
  {
    text: 'text-32',
    value: '32'
  },
  {
    text: 'text-28',
    value: '28'
  },
  {
    text: 'text-24',
    value: '24'
  },
  {
    text: 'text-20',
    value: '20'
  },
  {
    text: 'text-16',
    value: '16'
  },
  {
    text: 'text-12',
    value: '12'
  }
] %>

<section class="filtering container flex flex-col items-center bg-white dark:bg-black text-white bg-no-repeat bg-center bg-cover overflow-hidden min-h-screen" data-smooth-wrapper data-parallax data-section data-bg="img/pictures/town-grey.jpg" data-bg-webp="img/pictures/town-grey.webp">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-3 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Filter</h2>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">paralax, form and other...</h3>
  <div class="relative w-full max-w-xl mx-auto" data-filter>
    <%= picture({src: 'img/pictures/circle-grey', format: '.png', webp: false, classes: 'absolute z-1 top-20 -left-8 drop-shadow-md pointer-events-none w-16', data: 'data-parallax-layer="auto" data-parallax-speed="4" data-parallax-depth="2"', loading: 'eager'}) %>
    <%= picture({src: 'img/pictures/circle-white', format: '.png', webp: false, classes: 'absolute z-1 -bottom-8 -right-8 drop-shadow-md pointer-events-none w-16', data: 'data-parallax-layer="opposite" data-parallax-speed="4" data-parallax-depth="2"', loading: 'eager'}) %>
    <%= picture({src: 'img/pictures/circle-red', format: '.png', webp: false, classes: 'absolute z-1 bottom-0 -right-7 drop-shadow-md pointer-events-none w-16', data: 'data-smooth-layer="bottom" data-smooth-speed="1" data-smooth-depth="2"', loading: 'eager'}) %>
    <div class="flex flex-col md:flex-row items-center justify-between gap-0 md:gap-4 relative bg-grey md:bg-opacity-0 text-second md:text-white rounded-4 md:rounded-none md:border-b md:border-solid md:border-white overflow-hidden mb-5 md:mb-10 md:pb-4 duration-5 anim anim-up" data-anim="hidden">
      <div class="filtering__category filter-active flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="text-style">Text-style</div>
      <div class="filtering__category flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="form-validate">Form-validate</div>
      <div class="filtering__category flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="switches">Switches</div>
      <div class="filtering__category flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="file">File</div>
      <span class="hidden md:block absolute left-0 bottom-0 bg-primary rounded-t-2 h-1 ease-linear duration-3" data-filter-line></span>
    </div>
    <div class="bg-white text-black rounded-6 shadow-md p-7 md:p-10 duration-5 anim anim-fade" data-anim="hidden">
      <div class="filtering__card" data-filter-card="text-style">
        <ul class="flex flex-col gap-4 list-disc list-inside text-primary">
          <% _.forEach((numbers), (number) => { %>
          <li>
            <span class="text-second <%= number.text %>">
              --text-<span data-number="<%= number.value %>" data-number-step="1" data-number-time="2" data-number-fixed="0">0</span>
            </span>
          </li>
          <% }) %>
        </ul>
        <p class="text-primary mt-5">
          <q class="bg-grey font-semibold text-justify text-18 leading-9 box-decoration-clone shadow-md rounded-4 py-1 px-3" data-record="Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ex omnis, ut dolorem dolore enim expedita?" data-record-speed="50"></q>
        </p>
      </div>
      <div class="filtering__card" data-filter-card="form-validate">
        <form class="form w-full max-w-[400px] mx-auto" data-form="submit" data-files data-datepicker id="data-save">
          <input type="hidden" value="Главная" name="theme">
          <label class="form-label mb-5" data-label="input">
            <span class="text-20 mb-3">Name</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-gray input-lg" data-input="name" type="text" placeholder="Name" name="name">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите ваше имя!</span>
            </div>
          </label>
          <label class="form-label mb-5" data-label="input">
            <span class="text-20 mb-3">Telephone</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-gray input-lg" data-input="tel" type="tel" placeholder="+7 (" name="tel">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
            </div>
          </label>
          <label class="form-label mb-5" data-label="input">
            <span class="text-20 mb-3">Email</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-gray input-lg" data-input="email" type="text" placeholder="_@_._" name="email">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите корректный адрес!</span>
            </div>
          </label>
          <label class="form-label mb-5" data-label="input">
            <span class="text-20 mb-3">Date</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-gray input-lg" data-input="min" data-position="top left" type="text" name="check-in">
                <input class="input input-gray input-lg" data-input="max" type="text" name="check-out">
              </div>
              <div class="form-icon form-icon-right text-20">
                <%= icon({id: 'calendar'}) %>
              </div>
              <span class="form-error" data-error>Пожалуйста, укажите дату!</span>
            </div>
          </label>
          <label class="form-label mb-5" data-label="input">
            <span class="text-20 mb-3">Number</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-gray input-lg" data-input="number" type="text" placeholder="12345" name="number">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите число!</span>
            </div>
          </label>
          <label class="form-label mb-5" data-label="input">
            <span class="text-20 mb-3">Select</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <select class="input input-gray input-lg" data-input="select" name="select">
                  <option value="empty" disabled hidden selected>Select</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div class="form-icon form-icon-right text-12">
                <%= icon({id: 'arrow-bottom'}) %>
              </div>
              <span class="form-error" data-error>Пожалуйста, выберите вариант!</span>
            </div>
          </label>
          <label class="form-label mb-5" data-label="input">
            <span class="text-20 mb-3">Reviews</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <textarea class="input input-gray input-lg h-[200px]" data-input="text" type="text" placeholder="Reviews" name="text"></textarea>
              </div>
              <span class="form-error" data-error>Пожалуйста, оставьте отзыв!</span>
            </div>
          </label>
          <div class="form-wrapper mb-5" data-label="download">
            <label class="btn btn-second btn-lg btn-fade" data-waved="dark">
              <input class="hidden" data-input="file" type="file">
              <span data-files-text>Загрузить файлы</span>
            </label>
            <span class="form-error" data-error>Пожалуйста, загрузите изображение!</span>
          </div>
          <ul class="flex flex-col gap-1 text-12" data-files-listing></ul>
          <label class="form-label mb-5" data-label="input">
            <div class="form-wrapper">
              <div class="flex flex-row items-center">
                <input class="switch switch-checkbox mr-2" data-input="switch" type="checkbox" checked>
                <span class="text-20">Policy</span>
              </div>
              <span class="form-error" data-error>Пожалуйста, примите соглашение!</span>
            </div>
          </label>
          <button class="btn btn-second btn-lg btn-fill mb-5" data-waved="dark" type="submit">Submit</button>
          <div class="hover:underline underline-offset-4 text-second text-18 cursor-pointer w-max mx-auto" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">Privacy policy</div>
        </form>
      </div>
      <div class="filtering__card" data-filter-card="switches">
        <div class="flex flex-col gap-6">
          <h4 class="font-semibold text-24">Checkbox:</h4>
          <div class="flex items-center gap-5">
            <input class="switch switch-checkbox" type="checkbox">
            <input class="switch switch-checkbox text-second" type="checkbox">
            <input class="switch switch-checkbox" type="checkbox" disabled>
          </div>
          <h4 class="font-semibold text-24">Radio:</h4>
          <div class="flex items-center gap-5">
            <input class="switch switch-radio" type="radio" name="radio">
            <input class="switch switch-radio text-second" type="radio" name="radio">
            <input class="switch switch-radio" type="radio" name="radio" disabled>
          </div>
          <h4 class="font-semibold text-24">Toggle:</h4>
          <input class="switch switch-toggle" type="checkbox">
          <h4 class="font-semibold text-24">Quantity:</h4>
          <div class="quantity" data-quantity>
            <button class="quantity-btn btn btn-gray btn-fill" data-quantity-decrease data-waved="light">-</button>
            <div class="quantity-cover input-cover">
              <input class="quantity-input input" data-input="number" type="text" value="1" maxlength="3" name="quantity">
            </div>
            <button class="quantity-btn btn btn-gray btn-fill" data-quantity-increase data-waved="light">+</button>
          </div>
          <h4 class="font-semibold text-24">Rating:</h4>
          <div class="rating bg-gray bg-opacity-40 rounded-10 p-3">
            <% for (var i = 5; i > 0; i--) { %>
            <input class="rating-input hidden" id="rating-<%= i %>" type="radio" value="<%= i %>" name="rating">
            <label class="rating-star" for="rating-<%= i %>">
              <%= icon({id: 'star'}) %>
            </label>
            <% } %>
          </div>
          <h4 class="font-semibold text-24">Range:</h4>
          <div class="range w-full max-w-[350px]" data-range>
            <div class="flex items-center justify-between mb-4">
              <span class="text-16">Value</span>
              <output class="text-16 opacity-60" data-range-output></output>
            </div>
            <div class="relative text-white pointer-events-none">
              <div class="range-wrapper" data-range-wrapper>
                <input class="range-input bg-gray" data-range-input type="range" step="1" max="10" value="5">
                <div class="range-progress bg-primary" data-range-progress></div>
                <output class="range-bubble bg-primary" data-range-bubble></output>
              </div>
            </div>
          </div>
          <div class="range w-full max-w-[350px]" data-range>
            <div class="flex items-center justify-between mb-4">
              <div class="range-cover input-cover">
                <input class="input input-gray input-lg text-center" data-range-output data-input="number" type="text" maxlength="3">
              </div>
              <div class="range-cover input-cover">
                <input class="input input-gray input-lg text-center" data-range-output data-input="number" type="text" maxlength="3">
              </div>
            </div>
            <div class="relative text-white pointer-events-none">
              <div class="range-wrapper" data-range-wrapper>
                <input class="range-input bg-primary" data-range-input type="range" step="1" max="100" value="30">
                <div class="range-progress bg-gray" data-range-progress></div>
                <output class="range-bubble bg-primary" data-range-bubble></output>
              </div>
              <div class="range-wrapper" data-range-wrapper>
                <input class="range-input bg-primary" data-range-input type="range" step="1" max="100" value="70">
                <div class="range-progress bg-gray" data-range-progress></div>
                <output class="range-bubble bg-primary" data-range-bubble></output>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filtering__card" data-filter-card="file">
        <div class="w-full max-w-xs mx-auto" id="copy">
          <div class="flex items-center gap-3 w-full mb-5">
            <div class="pack pack-box bg-primary bg-opacity-40 rounded-max cursor-pointer w-10" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-avatar.html">
              <div class="flex items-center justify-center absolute inset-0 text-white text-14">
                <%= icon({id: 'user'}) %>
              </div>
              <%= picture({src: '', format: '', webp: false, classes: 'image', data: 'data-avatar', loading: 'auto'}) %>
            </div>
            <h4 class="text-24 font-bold">Name Surname</h4>
          </div>
          <form class="form mb-5" data-form="submit">
            <input type="hidden" value="Изображение" name="theme">
            <div class="form-label items-center justify-center" data-label="download">
              <div class="form-wrapper mb-5">
                <div class="pack pack-box bg-second rounded-4 w-full duration-2" data-drag>
                  <%= picture({src: 'img/pictures/geo', format: '.png', webp: false, classes: 'image image-scale-down', data: 'data-file="image"', loading: 'auto'}) %>
                </div>
                <span class="form-error" data-error>Пожалуйста, загрузите изображение!</span>
              </div>
              <div class="flex flex-wrap items-center justify-center gap-4 w-full">
                <label class="btn btn-primary btn-lg btn-fill w-full sm:w-auto" data-waved="light">
                  <input class="hidden" data-input="file" type="file" name="file[]">
                  Загрузить
                </label>
                <button class="btn btn-primary btn-lg btn-contur w-full sm:w-auto" data-waved="dark" type="submit">Отправить</button>
              </div>
            </div>
          </form>
          <div class="flex flex-wrap items-center justify-center gap-4 w-full">
            <div class="input-cover relative w-full sm:w-max" data-copy>
              <input class="input input-gray input-lg absolute inset-0 opacity-0" data-copy-input type="text" value="http://localhost:9000/index.html#copy">
              <button class="btn btn-gray btn-lg btn-fill w-full px-10" data-copy-button data-waved="dark">Copy</button>
            </div>
            <button class="btn btn-gray btn-lg btn-fill w-full sm:w-auto px-10" data-waved="dark" data-fancybox-calendar data-type="ajax" data-src="dialogs/dialog-calendar.html">Calendar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Параллакс -->

<% var parallaxes = [
  {
    bg: 'https://i.ibb.co/JpJVJxq/Background',
    img: 'https://i.ibb.co/Dw3q3tZ/cutout'
  },
  {
    bg: 'https://i.ibb.co/ZdGBm4K/m-background',
    img: 'https://i.ibb.co/RC70XmC/m-cutout'
  },
  {
    bg: 'https://i.ibb.co/MDBcyMW/b-background',
    img: 'https://i.ibb.co/bQNgD6y/b-cutout'
  }
] %>

<section class="container flex flex-col items-center justify-center bg-white dark:bg-black overflow-hidden" data-parallax>
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-8 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Parallax hovered</h2>
  <div class="flex flex-col lg:flex-row items-center lg:justify-between gap-5 md:gap-10">
    <% _.forEach((parallaxes), (parallax) => { %>
    <div class="w-[280px] xl:w-[370px]" data-parallax-hovered="600">
      <div class="pack pack-sheet bg-grey dark:bg-dark ease-linear duration-3" data-parallax-item="10">
        <%= loader %>
        <%= picture({src: parallax.bg, format: '.png', webp: false, classes: 'image', data: false, loading: 'auto'}) %>
        <div class="absolute inset-5 border-8 border-solid border-second ease-linear duration-3" data-parallax-item="100"></div>
        <%= picture({src: parallax.img, format: '.png', webp: false, classes: 'image ease-linear duration-3', data: 'data-parallax-item="80"', loading: 'auto'}) %>
        <div class="absolute top-auto bottom-0 left-0 right-0 text-white pointer-events-none p-10 ease-linear duration-3" data-parallax-item="160">
          <h2 class="font-medium text-20 leading-3 mb-3">Hover me!</h2>
          <p class="font-normal text-16 leading-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<!-- Плеер -->

<%= player({loader, icon, picture}) %>

<%= footer({loader, picture}) %>