<% var data = {

  title: 'Primary page',
  status: false

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<%= _.template(require('./includes/heading.html').default)({data}) %>

<!-- Галерея -->

<section class="container flex flex-col items-center justify-center bg-white dark:bg-black overflow-hidden" id="content">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-3" data-movement="blend">Slider-swiper</h2>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10" data-movement="blend">Class template for slider</h3>
  <div class="gallery-slider relative w-full">
    <div class="swiper -m-[15px] p-[15px]">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
        <a class="swiper-slide pack pack-rect-md bg-grey dark:bg-dark rounded-4 shadow-md" data-movement="light" data-fancybox="gallery" href="https://picsum.photos/1920/780?random=<%= i %>">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <img class="image image-rise" src="https://picsum.photos/1920/780?random=<%= i %>" loading="lazy" alt="">
          </picture>
        </a>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination md:hidden text-primary mt-10"></div>
    <button class="swiper-button-prev btn btn-primary btn-fill hidden md:flex absolute md:-left-6 rounded-max w-[50px] h-[50px]" data-waved="light">
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="swiper-button-next btn btn-primary btn-fill hidden md:flex absolute md:-right-6 rounded-max w-[50px] h-[50px]" data-waved="light">
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Продукция -->

<% var products = [
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
    price: '1 200$'
  },
  {
    text: 'Lorem ipsum dolor sit amet',
    oldPrice: '4 000$',
    price: '3 400$'
  },
  {
    text: 'Lorem ipsum dolor sit',
    price: '1 000$'
  },
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
    oldPrice: '55 000$',
    price: '47 000$'
  },
  {
    text: 'Lorem ipsum dolor sit',
    oldPrice: '8 000$',
    price: '7 000$'
  },
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
    price: '83$'
  }
] %>

<section class="container container--distance flex flex-col items-center justify-center bg-grey dark:bg-dark overflow-hidden">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-5 md:md-10" data-movement="blend">Products</h2>
  <form class="form w-full mb-7">
    <div class="form-wrapper">
      <div class="input-cover">
        <input class="input input-gray input-lg pl-10" type="search" placeholder="Поиск..." list="search" name="search">
      </div>
      <datalist id="search">
        <option>Milk</option>
        <option>Tomato</option>
        <option>Meat</option>
        <option>Potatoes</option>
      </datalist>
      <div class="form-icon form-icon--left text-black text-20 opacity-30">
        <svg class="icon">
          <use xlink:href="img/icons.svg#search">
        </svg>
      </div>
    </div>
  </form>
  <div class="products-slider relative w-full">
    <div class="swiper -m-[15px] p-[15px]">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < products.length; i++) { %>
        <div class="swiper-slide h-auto">
          <div class="product card card--active dark:bg-black cursor-pointer h-full p-1" data-product>
            <div class="pack pack-rect-md bg-grey dark:bg-dark rounded-4">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <img class="image" data-product-image="https://picsum.photos/600/400?random=<%= i %>" src="https://picsum.photos/600/400?random=<%= i %>" loading="lazy" alt="">
              </picture>
              <label class="like absolute top-2 right-2">
                <input class="product__toggle like-toggle hidden" type="checkbox">
                <span class="product__heart like-heart">
                  <svg class="like-icon icon">
                    <use xlink:href="img/icons.svg#like">
                  </svg>
                </span>
              </label>
            </div>
            <div class="card-content p-2 md:p-4">
              <h4 class="font-alt font-bold text-18 md:text-20 mb-2" data-product-name>Name <%= i %></h4>
              <p class="hover:underline underline-offset-4 text-16 cursor-pointer opacity-70 mb-3"><%= products[i].text %></p>
              <div class="flex flex-wrap items-end justify-between gap-4 mt-auto mb-5">
                <div class="flex flex-col w-full md:w-auto">
                  <% if (products[i].oldPrice) { %>
                  <span class="line-through text-14 md:text-16 opacity-60 mb-2" data-product-oldprice><%= products[i].oldPrice %></span>
                  <% } %>
                  <span class="font-semibold text-20 md:text-24" data-product-price><%= products[i].price %></span>
                </div>
                <div class="quantity" data-quantity>
                  <button class="quantity-btn btn btn-gray btn-fill" data-quantity-decrease data-waved="light">-</button>
                  <div class="quantity-cover input-cover">
                    <input class="quantity-input input dark:text-white" data-product-quantity data-input="number" type="text" value="1" maxlength="3" name="quantity">
                  </div>
                  <button class="quantity-btn btn btn-gray btn-fill" data-quantity-increase data-waved="light">+</button>
                </div>
              </div>
              <button class="btn btn-primary btn-lg btn-fade" data-product-button data-waved="light">
                <svg class="icon mr-2">
                  <use xlink:href="img/icons.svg#basket">
                </svg>
                Basket
              </button>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination md:hidden text-primary mt-10"></div>
    <button class="swiper-button-prev btn btn-primary btn-fill hidden md:flex absolute md:-left-6 rounded-max w-[50px] h-[50px]" data-waved="light">
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="swiper-button-next btn btn-primary btn-fill hidden md:flex absolute md:-right-6 rounded-max w-[50px] h-[50px]" data-waved="light">
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Горизорнтальный скролл -->

<section class="scrolling bg-white dark:bg-black" data-scrolling>
  <div class="container flex flex-col items-start mb-5 md:md-10 pb-0">
    <h2 class="font-alt font-bold text-36 lg:text-48 leading-2" data-movement="blend">Horizontal scroll</h2>
  </div>
  <div class="container flex gap-5 md:gap-10 md:sticky md:top-40 scroll-smooth overflow-x-auto md:overflow-x-hidden pt-0" data-scrolling-horizontal>
    <% for (var i = 0; i < 6; i++) { %>
    <a class="pack pack-half bg-grey dark:bg-dark rounded-6 shadow-md w-full min-w-[320px] md:min-w-[800px]" data-movement="light" data-fancybox="horizontal" href="https://picsum.photos/1040/520?random=<%= i %>">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <img class="scrolling__image image md:w-[130%] md:h-[130%] ease-in-out duration-3" data-scrolling-image src="https://picsum.photos/1040/520?random=<%= i %>" loading="lazy" alt="">
      </picture>
    </a>
    <% } %>
  </div>
</section>

<!-- Квиз -->

<section class="quiz container container--xs container--distance bg-grey dark:bg-dark">
  <div class="flex justify-between relative bg-white dark:bg-black rounded-4 shadow-md overflow-hidden p-5 md:p-10">
    <form class="form md:max-w-[270px] lg:max-w-[450px] w-full" data-form="params">
      <div class="quiz-slider flex flex-col h-full" data-quiz="stop">
        <div class="swiper mx-0">
          <div class="swiper-wrapper">
            <div class="swiper-slide h-auto" data-quiz-slide>
              <div class="flex flex-col h-full">
                <h4 class="font-semibold text-24 mb-5">Radio:</h4>
                <div class="flex items-center gap-5">
                  <input class="switch switch--radio" type="radio" value="radio-1" name="radio">
                  <input class="switch switch--radio" type="radio" value="radio-2" name="radio">
                  <input class="switch switch--radio" type="radio" value="radio-3" name="radio">
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto" data-quiz-slide>
              <div class="flex flex-col h-full">
                <h4 class="font-semibold text-24 mb-5">Checkbox:</h4>
                <div class="flex items-center gap-5">
                  <input class="switch switch--checkbox" type="checkbox" value="checkbox-1" name="checkbox[]">
                  <input class="switch switch--checkbox" type="checkbox" value="checkbox-2" name="checkbox[]">
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto" data-quiz-slide>
              <div class="flex flex-col h-full">
                <label class="form-label mb-5" data-label="input">
                  <span class="text-20 mb-3">Name</span>
                  <div class="form-wrapper">
                    <div class="input-cover">
                      <input class="input input-gray input-lg" data-input="name" type="text" placeholder="Name" name="name">
                    </div>
                    <span class="form-error" data-error>Пожалуйста, введите ваше имя!</span>
                  </div>
                </label>
                <label class="form-label mb-5" data-label="input">
                  <span class="text-20 mb-3">Telephone</span>
                  <div class="form-wrapper">
                    <div class="input-cover">
                      <input class="input input-gray input-lg" data-input="tel" type="tel" placeholder="+7 (" name="tel">
                    </div>
                    <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
                  </div>
                </label>
                <button class="btn btn-primary btn-lg btn-fill w-full" data-waved="light" type="submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="quiz-slider-bottom opacity-100 mt-auto duration-2">
          <div class="flex items-center mb-5">
            Оставшиеся слайды:
            <div class="swiper-pagination w-auto ml-1"></div>
          </div>
          <div class="flex items-center gap-5">
            <button class="swiper-button-prev btn btn-primary btn-lg btn-fill inset-0 w-auto mt-0" data-waved="light">
              <svg class="icon text-12 mr-2">
                <use xlink:href="img/icons.svg#arrow-left">
              </svg>
              Prev
            </button>
            <button class="swiper-button-next btn btn-primary btn-lg btn-fill inset-0 w-auto mt-0" data-waved="light">
              Next
              <svg class="icon text-12 ml-2">
                <use xlink:href="img/icons.svg#arrow-right">
              </svg>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="quiz-images hidden md:block w-full max-w-[330px] lg:max-w-[400px]">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% for (var i = 0; i < 3; i++) { %>
          <div class="swiper-slide pack pack-box bg-grey dark:bg-dark rounded-3" data-movement="light">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <picture>
              <img class="image image-rise" src="https://picsum.photos/600/400?random=<%= i %>" loading="lazy" alt="">
            </picture>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Описание -->

<section class="description container container--xs relative bg-white dark:bg-black overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div class="description-bg relative h-full duration-10 delay-2">
      <div class="swiper h-full">
        <div class="swiper-wrapper">
          <% for (var i = 0; i < 6; i++) { %>
          <div class="swiper-slide pack pack-rect-lg bg-grey dark:bg-dark h-full">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <picture>
              <img class="image" src="https://picsum.photos/1920/780?random=<%= i %>" loading="lazy" alt="">
            </picture>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-between gap-5 relative z-1 bg-white dark:bg-black rounded-4 shadow-md overflow-hidden p-5 md:p-10">
    <div class="w-full lg:max-w-[400px] xl:max-w-[450px]">
      <div class="description-slider relative bg-grey dark:bg-dark rounded-4 overflow-hidden mb-5 md:mb-3">
        <div class="swiper h-full">
          <div class="swiper-wrapper h-full">
            <% for (var i = 0; i < 6; i++) { %>
            <a class="swiper-slide pack pack-box h-full" data-movement="light" data-fancybox="catalog" href="https://picsum.photos/1920/780?random=<%= i %>">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <img class="image image-rise" src="https://picsum.photos/1920/780?random=<%= i %>" loading="lazy" alt="">
              </picture>
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <div class="description-bullets">
        <div class="swiper">
          <div class="swiper-wrapper">
            <% for (var i = 0; i < 6; i++) { %>
            <div class="swiper-slide pack pack-box bg-grey dark:bg-dark rounded-4 cursor-pointer">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <img class="image" src="https://picsum.photos/1920/780?random=<%= i %>" loading="lazy" alt="">
              </picture>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="description-info w-full lg:max-w-[400px] xl:max-w-[550px] h-auto">
      <div class="swiper h-full">
        <div class="swiper-wrapper">
          <% for (var i = 0; i < 6; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="flex flex-col flex-grow h-full p-2">
              <h4 class="font-alt font-semibold text-30 md:text-48 mb-5">Slider slide</h4>
              <p class="font-semibold text-16 md:text-18 leading-4 mb-5 mdmd-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minus dolor magnam! Tenetur quam maiores vel vero iste aperiam dolores ipsa, quae autem sunt quo quia omnis commodi, impedit recusandae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minus dolor magnam! Tenetur quam maiores vel vero iste aperiam dolores ipsa, quae autem sunt quo quia omnis commodi, impedit recusandae.
              </p>
              <button class="btn btn-primary btn-lg btn-fill w-full max-w-[200px] mt-auto" data-waved="light">Button</button>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./includes/player.html').default)() %>

<%= require('./includes/footer.html').default %>