<%
  var data = {
    title: 'Second page',
    status: false
  }

  var loader = require('./components/loader.html').default
  var preloader = require('./components/preloader.html').default
  var icon = _.template(require('./components/icon.html').default)
  var header = _.template(require('./includes/header.html').default)
  var heading = _.template(require('./includes/heading.html').default)
  var worldMap = require('./includes/world-map.html').default
  var player = _.template(require('./includes/player.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, loader, preloader, icon}) %>

<!-- Шапка страницы -->

<%= heading({data}) %>

<!-- Сетка -->

<% var grid = ['lg:row-5', 'lg:row-4', 'lg:row-5', 'lg:row-5', 'lg:row-4', 'lg:row-4'] %>

<section class="container flex flex-col items-center justify-center bg-white dark:bg-black overflow-hidden" id="content">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-3 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">GridBox</h2>
  <h3 class="font-semibold text-16 md:text-18 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Columns and rows</h3>
  <div class="grid grid-flow-row-dense grid-cols-2 lg:grid-cols-3 gap-3 md:gap-5 lg:gap-8 w-full">
    <% for (var i = 0; i < grid.length; i++) { %>
    <div class="<%= grid[i] %> duration-10 anim anim-circle" data-anim="hidden">
      <a class="pack pack-box bg-grey dark:bg-dark rounded-3 shadow-md h-full" data-movement="light" data-fancybox="grid" href="https://picsum.photos/600/400?random=<%= i %>">
        <%= loader %>
        <picture>
          <img class="image image-rise" src="https://picsum.photos/600/400?random=<%= i %>" loading="lazy" alt="">
        </picture>
      </a>
    </div>
    <% } %>
  </div>
</section>

<!-- Сравнение -->

<section class="container container-distance flex flex-col items-center justify-between bg-grey dark:bg-dark">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Comparison</h2>
  <div class="relative bg-grey dark:bg-dark rounded-4 overflow-hidden w-full duration-5 anim anim-fade" data-anim="hidden" data-compare>
    <%= loader %>
    <div class="pack pack-half absolute z-1 w-1/2 h-full" data-compare-before>
      <picture>
        <source srcset="img/pictures/town-grey.webp" type="image/webp">
        <img class="image" data-compare-image src="img/pictures/town-grey.jpg" loading="lazy" alt="">
      </picture>
    </div>
    <picture>
      <source srcset="img/pictures/town.webp" type="image/webp">
      <img class="block relative w-full h-full" src="img/pictures/town.jpg" loading="lazy" alt="">
    </picture>
    <div class="flex items-center justify-center absolute top-0 bottom-0 left-2/4 z-2 bg-white dark:bg-black -translate-x-1/2 w-1 h-[95%] my-auto" data-compare-change>
      <button class="btn btn-primary btn-fill text-20 rounded-max cursor-col-resize w-12 min-w-[48px] h-12">
        <%= icon({id: 'arrows'}) %>
      </button>
    </div>
  </div>
</section>

<!-- Сортировка -->

<section class="container container-xs flex flex-col items-center justify-center bg-white dark:bg-black">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Sorting</h2>
  <div class="filtering w-full max-w-xl mx-auto" data-filter>
    <div class="flex flex-col md:flex-row items-center justify-between gap-0 md:gap-4 relative bg-grey md:bg-opacity-0 text-second md:text-black dark:text-white rounded-4 md:rounded-none md:border-b md:border-solid md:border-white overflow-hidden mb-5 md:mb-10 md:pb-4 duration-5 anim anim-up" data-anim="hidden">
      <div class="filtering__category filter-active flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="all">All</div>
      <div class="filtering__category flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="primary">Primary</div>
      <div class="filtering__category flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="second">Second</div>
      <div class="filtering__category flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="green">Green</div>
      <div class="filtering__category flex-grow text-center text-20 cursor-pointer w-full p-4 md:p-0" data-filter-category="mix">Mix</div>
      <span class="hidden md:block absolute left-0 bottom-0 bg-primary rounded-t-2 h-1 ease-linear duration-3" data-filter-line></span>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-5 md:gap-10">
      <% for (var i = 0; i < 3; i++) { %>
      <div class="filtering__card bg-primary py-10" data-filter-card="primary mix"></div>
      <div class="filtering__card bg-second py-10" data-filter-card="second"></div>
      <div class="filtering__card bg-green py-10" data-filter-card="green mix"></div>
      <% } %>
    </div>
  </div>
</section>

<!-- Счетчик -->

<section class="container container-xs container-distance flex flex-col items-center justify-center bg-grey dark:bg-dark">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Counter of time</h2>
  <div class="flex items-center justify-center bg-white dark:bg-black text-primary rounded-6 shadow-md w-full py-7 md:py-10 px-4 md:px-10 duration-5 anim anim-up" data-anim="hidden" data-counter>
    <h3 class="hidden font-alt font-semibold text-center text-20 md:text-30 leading-2 w-full" data-counter-subtitle>Times up</h3>
    <div class="flex justify-between gap-4 text-center w-full" data-counter-timer>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-24 md:text-30" data-counter-unit>0</span>
        <span class="text-16 md:text-24">Days</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-24 md:text-30" data-counter-unit>0</span>
        <span class="text-16 md:text-24">Hours</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-24 md:text-30" data-counter-unit>0</span>
        <span class="text-16 md:text-24">Minutes</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-24 md:text-30" data-counter-unit>0</span>
        <span class="text-16 md:text-24">Seconds</span>
      </time>
    </div>
  </div>
</section>

<!-- Время -->

<section class="timer container container-xs flex flex-col items-center justify-center bg-white dark:bg-black">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Timer</h2>
  <div class="flex flex-col items-center justify-center relative bg-primary rounded-max w-full max-w-[300px] h-[300px] mx-auto" data-timer>
    <div class="timer__stopwatch flex flex-col items-center absolute top-0 left-0 right-0 text-second origin-bottom pointer-events-none w-0.5 h-1/2 mx-auto ease-in-out duration-1" data-timer-stopwatch></div>
    <time class="text-white text-center text-24 font-semibold mb-5" data-timer-units></time>
    <div class="flex items-center justify-center gap-4">
      <button class="btn btn-second btn-fade text-36 rounded-max w-10 h-10" data-timer-turn data-waved="dark">
        <%= icon({id: 'play'}) %>
      </button>
      <button class="btn btn-second btn-sm btn-light" data-timer-reset data-waved="dark">Reset</button>
    </div>
  </div>
</section>

<!-- Открытка -->

<section class="container container-distance flex flex-col items-center justify-center bg-grey dark:bg-dark overflow-hidden">
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Postcards</h2>
  <div class="postcards flex flex-wrap items-center justify-center gap-10 w-full">
    <% for (var i = 0; i < 3; i++) { %>
    <ul class="postcards-item">
      <% for (var j = 0; j < 9; j++) { %>
      <li class="postcards-particle" data-bg="img/pictures/town.jpg"></li>
      <% } %>
    </ul>
    <% } %>
  </div>
</section>

<!-- Мир -->

<section class="container bg-white dark:bg-black" data-world>
  <h2 class="font-alt font-bold text-center text-36 lg:text-48 leading-2 mb-5 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">World map</h2>
  <div class="bg-grey dark:bg-dark rounded-5 p-5 lg:p-10 duration-5 anim anim-fade" data-anim="hidden" id="country">
    <%= worldMap %>
    <div class="flex items-center justify-center mt-5 md:mt-10">
      <img class="icon text-40 md:text-50 mr-5" data-world-flag src="img/pictures/russia.svg" alt="">
      <h4 class="font-bold text-18 md:text-24" data-world-title>Россия</h4>
    </div>
  </div>
</section>

<!-- Плеер -->

<%= player({loader}) %>

<%= footer({loader}) %>