// UI-kit
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./ui-kit/fonts";
  @import "./ui-kit/variables";
  @import "./ui-kit/reset";
  @import "./ui-kit/scrollbar";
}

@layer components {
  @import "./ui-kit/inverted";
  @import "./ui-kit/postcards";
  @import "./ui-kit/like";
  @import "./ui-kit/listing";
  @import "./ui-kit/load";
  @import "./ui-kit/icon";
  @import "./ui-kit/link";
  @import "./ui-kit/button-swipe";
  @import "./ui-kit/button-glow";
  @import "./ui-kit/button-bubles";
  @import "./ui-kit/button-border";
  @import "./ui-kit/quantity";
  @import "./ui-kit/rating";
  @import "./ui-kit/range";
}

@import "./ui-kit/custom";
@import "./ui-kit/waved";
@import "./ui-kit/movement";

// Frontend
@import "./frontend/main";